<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{- if .IsHome }}
<title>{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Title }}" />
{{- else }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
{{- end }}

{{- if .IsHome }}
<meta name="description" content="{{ .Site.Params.Description }}">
<meta property="og:description" content="{{ .Site.Params.Description }}" />
{{- else }}
<meta name="description" content="{{ .Params.Description }}">
<meta property="og:description" content="{{ .Params.Description }}" />
{{- end }}

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/svg+xml" href="/images/icons/favicon.svg" sizes="16x16" />
<link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" sizes="180x180" />

{{- $css := resources.Get "css/styles.css" | postCSS }}
{{- if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{- else }}
  {{- $styles := $css | resources.PostProcess | minify }}
  {{- $styles = printf "%s?v=%d" $styles.RelPermalink now.Unix }}
  <link rel="stylesheet" href="{{ $styles }}">
{{- end }}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>