{{ $image := .image }}

{{ $imgSrc := "" }}
{{ $imgSrcSet := slice }}

{{ $widths := $.Site.Params.imageWidths }}

{{ range $widths }}
  {{ $srcUrl := (printf "%dx" . | $image.Resize).RelPermalink }}
  {{ if eq $imgSrc "" }}{{ $imgSrc = $srcUrl }}{{ end }}
  {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
{{ end }}
{{ $imgSrcSet = (delimit $imgSrcSet ",") }}

{{ $attributes := slice }}
{{ range $name, $value := .attrs }}
  {{ $attributes = $attributes | append (printf "%s=%q" $name $value) }}
{{ end }}
{{ $attributes = (delimit $attributes " ") }}

<picture>
  <img srcset="{{ $imgSrcSet }}" src="{{ $imgSrc }}" {{ print $attributes | safeHTMLAttr }} loading="lazy" decoding="async">
</picture>